@{
    ViewData["Title"] = "Toplantı Odası Ekle";
}

<div class="card shadow-lg p-4">
    <h3 class="mb-4">Toplantı Odası Ekle</h3>

    <form id="meetingRoomForm">

        <div class="mb-3">
            <label>Oda Açıklaması</label>
            <input type="text" name="Description" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Konum</label>
            <input type="text" name="Location" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Kapasite</label>
            <input type="number" name="Capacity" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-success">
            Kaydet
        </button>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.getElementById("meetingRoomForm").addEventListener("submit", function (e) {

        e.preventDefault();
        var formData = new FormData(this);

        Swal.fire({
        title: 'Kaydediliyor...',
        text: 'Lütfen bekleyiniz',
        allowOutsideClick: false,
        didOpen: () => Swal.showLoading()
        });

        fetch('/Admin/AddMeetingRoom', {
        method: 'POST',
        body: formData
        })
        .then(r => r.json())
        .then(data => {

        Swal.close();

        if (data.succeeded) {
        Swal.fire({
        icon: 'success',
        title: 'Başarılı',
        text: data.message
        }).then(() => {
        window.location.reload();
        });
        }
        else {
        Swal.fire({
        icon: 'error',
        title: 'Hata',
        text: data.message
        });
        }
        })
        .catch(() => {
        Swal.close();
        Swal.fire({
        icon: 'error',
        title: 'Sunucu Hatası'
        });
        });

        });
    </script>
}